*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width: 100%;
    border:2px white solid ;
    background-color: rgb(108, 67, 67);
    /* gap: 1rem; */
    display: grid;
    /* justify-items: center; */
    /* justify-items: end; */
    justify-items: baseline;
    
}
.item{
height: 100px;
width: 100px;
gap: 1rem;
border: .3rem solid black;
color: rgb(196, 196, 216);
background-color: blue;
}
